# Backend
backend/venv/
backend/__pycache__/
backend/uploads/
backend/*.db

# Frontend
frontend/node_modules/
frontend/dist/

# Root node
node_modules/

# Logs
*.log

# Env
.env

# OS
.DS_Store
.vscode/